DATABASE_URL="mysql://root@localhost:3306/host-server"
PORT=

ACCESS_TOKEN_SECRET=asdfghjksdfg
ACCESS_TOKEN_EXPIRY=7d

# AWS
S3CLIENT_ACCESSKEYID=
S3CLIENT_SECRETACCESSKEY=
S3_REGION=ap-south-1

# ECS
CLUSTER=
TASK=
SUBNET_1=
SUBNET_2=
SUBNET_3=
SECURITY_GROUP=

# KAFKA
KAFKA_BROKER=
KAFKA_USERNAME=
KAFKA_PASSWORD=

# ClickHouse
CLICKHOUSE_HOST=localhost
CLICKHOUSE_USERNAME=default
CLICKHOUSE_PASSWORD=

# Socket
SOCKET_PORT=9002
